.button_cal{
    margin-left: 20px;
}
.material-icons.md-18 { font-size: 18px; }
.Pad{
	height: 40px;
	width:40px; 
}
.btn,.btn:hover{
	background-color: #555
}
.nav{
	background-color: #555;
}
.input-field label {
	color: #555;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
	color: #555;
  }
.Container{
    width: 300px;
    margin: 150px auto;
    border-radius: 25px;
    border: 1px solid;
    padding-bottom: 20px;
    align-content: center;
}

.bus-card{
    max-width: 350px;
    border-radius: 5px;
    margin: 50px auto;
    padding: 20px;   
    background-color: #FAFAFA;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
    0 6px 6px rgba(0, 0, 0, .23); 
}
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 150px;
	width: 275px;
	background: #FAFAFA;
	overflow-y: auto;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 30px;
}
/* Scroll bra design */
.style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #FAFAFA;
}

.style-1::-webkit-scrollbar
{
	width: 12px;
	background-color:#FAFAFA;
}

.style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
 
